<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.SFT.beans.Mundo">
		<property name="saludo" value="Hola Mundo!"></property>
	</bean>
	
	<bean id="persona" class="com.SFT.beans.Persona" autowire="byName" scope="singleton" lazy-init="true"> 
		<!-- Por defecto el scope es byName -->
		<!-- Por defecto el scope es singleton -->
		<!-- Por defecto el lazy-init es true y solo aplicable a singleton y se aplica al getBean-->
	</bean>
	
	<bean id="pais" class="com.SFT.beans.Pais">
		<property name="nombre" value="Perú"></property>
	</bean>
	
	<bean id="ciudad" class="com.SFT.beans.Ciudad">
		<property name="nombre" value="Lima"></property>
	</bean>
	
</beans>
