<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.SFT.beans.Mundo">
		<property name="saludo" value="Hola Mundo!"></property>
	</bean>
	
	<bean id="persona" class="com.SFT.beans.Persona">
		 <property name="pais">
			 <bean id="pais" class="com.SFT.beans.Pais">
				<property name="nombre" value="Perú"></property>
				<property name="ciudad">
					<bean id="ciudad" class="com.SFT.beans.Ciudad">
						<property name="nombre" value="Lima"></property>
					</bean>
				</property>
			</bean>
		 </property>
		 <property name="id" value="1"></property>
		 <property name="nombre" value="nombre loco"></property>
		 <property name="apodo" value="apodo loco"></property>
	</bean>
	
	
	
</beans>
